* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    background-color: #080808;
    color: #fff;

}

/*              Main Page  Syling              */

#header {

    width: 100%;
    background-image: url(assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.navbar {

    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {

    color: white;
    font-size: 65px;
    padding-left: 10px;
}

span {

    color: crimson;
}

.navbar-links ul {

    font-size: 16px;
    list-style: none;
    padding: 10px;
    font-weight: 600px
}

.navbar-links li {

    text-align: right;
    display: block;
    padding: 10px;

}

.navbar-links a {

    text-decoration: none;
}

.navbar ul li a {

    color: #fff;
    position: relative;
    transition: 0.5s;

}

p {

    padding-left: 20px;
    margin-top: 400px;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: crimson;
}

h1 {

    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    font-size: 30px;
}

/*         About Me             */
.about-me {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;
}

.about-me h2 {

    font-size: 30px;
    text-shadow: 3px 3px crimson;
}

.about-me img {

    height: 80px;
    width: 80px;
    border-radius: 50%;

}

header {

    text-align: center;
    padding: 20px;

}

.header h1 {
    font-size: 40px;

}


.header p {
    font-size: 24px;
    padding: 50px;
    color: #fff;


}

.container {

    margin: 0 10px;

}

.box {

    flex: 0 0 25%;
    margin: 20px;
    margin-bottom: 50px;
    padding: 10px;
    text-align: center;
    border: 1px #f0f0f0 dotted;
    border-radius: 10px;

}

.sub-heading {
    width: 70%;
    margin: auto;
    border: 1px #f0f0f0 solid;
    border-radius: 5px;
    position: relative;
    margin-top: -25px;
    margin-bottom: 10px;
    background-color: #080808;
    ;
    text-align: center;
    padding: 10px;
    font-size: 20px;

}

.description {

    padding: 8px;
    color: crimson;
    text-align: center;



}

.snippet {

    background-color: crimson;
    text-align: center;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
    border: 1px lightgrey;
    border-radius: 4px;
    margin-top: 25px;
    list-style: none;

}

li {

    padding: 10px;

}

/*          Apps Section Styling              */

.apps {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 40px 20px;

}


#app-icon {

    width: 80px;
    height: 80px;
}

.apps h1 {

    font-size: 30px;
    margin: 0;
    padding: 0;


}

.apps h1 {

    text-shadow: 2px 2px 4px crimson;
}

.app-image-main {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 40px 20px;

}

.apps-heading {

    text-align: center;
    padding: 20px;
}

#cssapp1 {
    width: 40vw;
    height: 440px;
    border: 5px crimson solid;
    border-radius: 20px;
}

.moreapps {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin: 0;

}

#cssapp2, #cssapp4 {

    max-width: 40vw;
    height: 220px;
    border: 5px crimson solid;
    border-radius: 20px;

}

#cssapp3 {

    width: 40vw;
    height: 220px;
    border: 5px crimson solid;
    border-radius: 20px;
}

/*              Contact Me Section Styling                 */

.contact {

    margin: 20px;
    padding: 40px;
    font-size: 40px;
    text-shadow: 2px 2px 4px crimson;
    text-align: center;
}

.contact h2 {

    font-size: 30px;
}

.form {

    margin: 20px auto;
    padding: 20px;
    width: 80%;
    height: 80%;
    background-color: crimson;
    border-radius: 10px;
}

label {

    font-size: 18px;
    font-weight: 300;
}

input {

    width: 100%;
    margin: 10px 10px 10px 0;
    color: #000;
}

textarea {

    width: 80%;
    height: 150px;
    margin: 10px 40px 10px 0;
    color: #000;
}

/*                 Form Styling                 */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 90%;
    margin: 30px auto;
    background-color: crimson;
}

label,
input,
textarea,
button {
    width: 100%;
    max-width: 90%;
    margin: 20px;
    font-size: 20px;
    font-weight: 300;
    color: #000;
}

label {

    font-size: 16px;
    font-weight: 300;
    color: #fff;
}

input,
textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px;
    background-color: #0077FF;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

button:hover {
    background-color: #005FE6;
}

/*                  Footer Styling               */
.footer {

    height: 60px;
    margin-top: 40px;
    background-color: crimson;
}

.icons {

    text-align: center;

}

.fa-brands {

    padding: 10px;
    color: #fff;
}

.footer h5 {

    text-align: center;

}


/*         Media Query Section Styling          */

@media screen and (min-width: 579px) {

    #header {

        background-size: 80%;
    }



    .navbar-links li {

        display: inline-block;
    }

    .about-me h2 {

        font-size: 45px;

    }

    .about-me img {

        height: 100px;
        width: 100px;
        border-radius: 50%;

    }

}



@media screen and (min-width: 900px) {

    #header {

        background-size: 50%;

    }

    .navbar h1 {

        font-size: 120px
    }

    .navbar ul {

        font-size: 24px;
        font-weight: 400px
    }

    .navbar-links li {

        display: inline-block;
    }

    .about-me {

        display: flex;
        justify-content: space-between;

    }

    .container {

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 0 100%;

    }


    .about-me h2 {

        font-size: 80px;

    }

    .about-me img {

        width: 300px;
        height: 400px;
        border-radius: 0px;

    }

    #cssapp1 {
        width: 30vw;
        height: 600px;
        border: 5px crimson solid;
        border-radius: 20px;

    }

    #cssapp2,#cssapp4 {

        width: 30vw;
        height: 300px;
        border: 5px crimson solid;
        border-radius: 20px;


    }

    #cssapp3 {

        width: 30vw;
        height: 300px;
        border: 5px crimson solid;
        border-radius: 20px;

    }

    #app-icon {

        width: 300px;
        height: 300px;

    }

    .apps h1 {

        font-size: 80px;
        margin: 0;
        padding: 0;

    }

    .apps h1 {

        text-shadow: 2px 2px 4px crimson;

    }

    form {

        max-width: 900px;
    }

    label,
    input,
    textarea,
    button {
        max-width: 750px;

    }

    .contact h2 {

        font-size: 80px;

    }
}